.MuiIcon-root{
    width: 1.5em !important;
}


.search-table .MuiTableCell-root{
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
}

.search-table td.MuiTableCell-root.MuiTableCell-body{
    padding: 0 10px;
    min-width: 600px;
    text-align: left;
}

.sale .search-table td.MuiTableCell-root.MuiTableCell-body{
    min-width: 200px;
}

.sale .search-table td.MuiTableCell-root.MuiTableCell-body:nth-child(4){
    min-width: 500px;
}

.search-table.search-table td.MuiTableCell-root.MuiTableCell-body:first-child,
.search-table td.MuiTableCell-root.MuiTableCell-body:nth-child(2) {
    min-width: inherit;
    max-width: 30px;
}

.search-table td.MuiTableCell-root.MuiTableCell-body:nth-child(4) {
    min-width: 250px;
}


.search-table td.MuiTableCell-root.MuiTableCell-body:nth-child(5) {
    min-width: 400px;
}

.search-table td.MuiTableCell-root.MuiTableCell-body:nth-child(7) {
    min-width: 300px;
}
