html:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_){margin-top:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:700}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* --------------------------------------------
Fonts
------------------------------------------------ */ 

/* @font-face {
	font-family: "Montserrat";
	font-weight: 300;
	src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 500;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 600;
	src: url("../fonts/Montserrat-Medium.ttf");
}


@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	src: url("../fonts/Montserrat-Bold.ttf");
} */


  
/* --------------------------------------------
Utils 
------------------------------------------------ */

p {
    margin: 0;
}

.desktop {
    display: none;
}
    
amp-img, amp-img img {
    object-fit: cover;
}
  
html {
    font-size: 12px;
    font-family: "Montserrat";
}

body.logged-in {
  padding-top: 46px;
}

@media(min-width:768px) {


    
  html {
      font-size: 16px;
  }

  body.logged-in {
    padding-top: 32px;
  }

}

@media(min-width:1024px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  } 	  

}
  
/* --------------------------------------------
Container 
------------------------------------------------ */

.container {
    margin-left: 24px;
    margin-right: 24px;
}

@media(max-width: 768px) {
  .negative-container {
      margin-left: -24px;
      margin-right: -24px;
  }
}
  
@media(min-width: 768px) {
    .container {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media(min-width: 1024px) {
    .container {
        margin-left: 74px;
        margin-right: 74px;
    }
}

@media(min-width: 1440px) {
    .container {
        margin-left: calc((100vw - 1160px)/2);
        margin-right: calc((100vw - 1160px)/2);
    }   
}

h2, h3{
  margin: 0;
  font-size: inherit;
}

h1{
  color: #1e1f26;
  font-size: 3rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

h2{
  color: #1e1f26;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.informations form{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.informations form label{
  display: block;
  font-size: 1.25rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  position: relative;
}

.informations form label:last-of-type{
  margin: 0;
}

.cl1{
  width: 100%;
}

.cl3{
  width: calc(33.3% - 0.5rem);
}

.cl2, .cl50{
  width: calc(50% - 0.75rem);
}

.cl23{
  width: calc(66.6% - 0.5rem);
}

.cl4{
  width: calc(25% - 0.5rem);
}

.cl5{
  width: calc(16.6% - 0.5rem);
}

.cl20{
  width: calc(20% - 0.5rem);
}

.cl30{
  width: calc(30% - 0.5rem);
}

.cl40{
  width: calc(40% - 0.5rem);
}

.cl10{
  width: calc(10% - 0.5rem);
}

.cl70{
  width: calc(70% - 0.5rem);
}


.cl90{
  width: calc(90% - 0.5rem);
}


.cl34{
  width: calc(75% - 0.5rem);
}


.cl6{
  width: calc(16.6% - 0.5rem);
}

.cl8{
  width: calc(12.5% - 0.5rem);
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}

.informations form label span{
  display: block;
  margin-bottom: .75rem;
}

.informations form label span.error-message {
  margin: 2px 0 0;
  color: #D8000C;
  position: absolute;
}

.informations form label input,
.informations .label-textarea,
.informations form label textarea{
  width: 100%;
}

.informations .label-textarea textarea{
  height: 100px;
}

.information-data{
  position: relative;
}

.informations button{
  cursor: pointer;
  background: none;
  border: none;
}

.informations .navegation-controls .navegation-button{
  position: absolute;
  top: calc( 50% - 70px);
  transform: translate(0, -50%);  
}

.informations .navegation-controls .navegation-button.prev{
  left: -90px;
}

.informations .navegation-controls .navegation-button.next{
  right: -90px;
}

.informations .navegation-controls .navegation-button svg{
  width: 80px;
  height: 80px;
  fill: #4d648d;
}

.informations .navegation-controls .navegation-button.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.informations .navegation-controls .navegation-button.disabled svg{
  fill: #CCCC99;
}

.navegation-controls {
  text-align: center;
}

.navegation-controls .edit-button,
.navegation-controls .calcel-button,
.navegation-controls .add-button{
  margin-right: 2rem;
}

.navegation-controls  svg{
  width: 50px;
  height: 50px;
  fill: #1e1f26;
  cursor: pointer;
}

/* Vendas */

.sell button{
  background: none;
  border: none;
  
}
.client-form,
.product-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.sell-cli,
.sell-prods{
  margin-bottom: 2rem;
}

.product-form label,
.product-form button{
  margin-bottom: 1.5rem;
}

 button.sell-item-insert{
  color: #fff;
  background-color: #1e1f26;
  border-radius: 8px;
  font-size: 1.25rem;
  padding: 5px 10px;
  border: none;;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  background: #fff; 
  z-index: 10;
  height: 50vh;
}

.close-modal{
  position: absolute;
  top: 10px;
  right:10px;
  z-index: 9;
}

.modal .MuiPaper-elevation2{
  padding-top: 25px;
}

.items-contaner{
  margin-bottom: 2rem;
}

.sale-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sale-form textarea,
.sale-form  .label-textarea{
  width: 100%;
}

.sale-form  .label-textarea{
  margin-bottom: 2rem;
}

.save-sale svg{
  width: 50px;
  height: 50px;
  fill: #1e1f26;
}

.sale-load-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.item-error-message{
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
}

/* Sale modal */

.sale-modal{
  position: fixed;
  width: 90vw;
  transform: translate(-50%, -50%);
  height: 85vh;
  top: 50%;
  left: 50%;
  z-index: 28;
  background: #fff;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,.16);
  padding: 2rem;
  box-sizing: border-box;
  overflow: auto;
}

.sale-modal .close-sale{
  position: absolute;
  width: 10px;
  height: 10px;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.sale-modal .flex-space-between,
.sale-modal .search-table{
  margin-bottom: 2rem;
}

.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 27;
  background: #000;
  opacity: 0.5;
  display: block;
  top: 0;
  left: 0;
}


/* Users */

.user .client-form p{
  font-size: 1.5rem;
  margin: 1rem 0;
}


/* Login */

.login-form{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.sell .login-form button.sell-item-insert{
  margin: 0 auto;
  padding: 10px 0;
}

.login-form .label-input{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  display: block;
  width: 100%;
}

.logout{
  cursor: pointer;
}

/* Caixa */

.caixa .caixa-footer > p{
  font-size: 1.5rem;
  text-align: right;
}

.caixa-footer{
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.caixa-footer label{
  display: inline-block;
  margin-right: 1rem;
}

.caixa-footer button.sell-item-insert{
  padding: 8px 12px;
}


.home{
  text-align: center;
}

.home-allerts{
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}


.home-allerts > div{
  max-width: calc(50% - 2rem);
}

.home-allert{
  display: flex;
  margin-bottom: 1.5rem;
}

.home-allert p{
  margin-right: 0.5rem;
}

.home-allert p:last-child{
  margin: 0;
}

.most-sale{
  text-align: center;
  margin-bottom: 3rem;
}

.most-sale .recharts-wrapper{
  margin: 0 auto;
}