
header{
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    background-color: #283655;
    top: 0;
    z-index: 50;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.16);
    left: 0;
    
}

.header-menu ul{
    list-style: none;
    margin: 0;
}

.header-menu > ul{
    display: flex;
    justify-content: space-around;
    
}


.header-menu ul li{
    display: block;
    font-size: 1.5rem;
    color: #FFF;
}

.header-menu > ul > li{
    padding: 1rem;
}

.header-menu ul a{
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}


.header-menu .parent{
    position: relative;
}

.header-menu .parent > ul{
    position: absolute;
    max-height: 0;
    overflow: hidden;
    left: 0;
    top: 59px;
    background: #fff;
    padding: 0;
    background-color: #283655;

}


.header-menu .parent:hover > ul{
    max-height: 300px;
    overflow: hidden;
}

.header-menu .parent:hover > ul li a{
    padding: 20px 40px 20px 20px;
    display: block;
    
}

.header-menu .parent:hover > ul li:hover{
    background: rgba(255, 255, 255, 0.2)
}


main{
    margin-top: 90px;
}