input,
textarea,
select{
    border: solid 2px #989898;
    padding: 10px 15px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    background: #fff;
}

input:disabled,
textarea:disabled,
select:disabled{
    background-color: rgb(235, 235, 228);
}